.Calculadora {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .Calculadora form {
    background-color: #f0f0f0;
    padding: 20px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 200px;
    
  }
  
  .Calculadora label {
    margin-bottom: 10px;
    font-weight: bold;
    background-color: aliceblue;
    margin-left: 110px;
    margin-right:200px;
    
  }
  
  .Calculadora input[type="number"],
  .Calculadora input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 200px;
    
  }
  
  .Calculadora input[type="button"],
  .Calculadora input[type="button"]:hover {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .Calculadora input[type="button"]:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }
  
  .Calculadora #txtStatus {
    font-weight: bold;
    margin-top: 10px;
  }
  .botoes{
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .pagina {
    background: linear-gradient(to left, #707070, #f6f6ff);
  }
  .foto{
    width: 400px;
    position: fixed;
  }
  .foto2{
    position: fixed;
    width: 400px;
    margin-left: 1100px;
  }
  
  